[2019-09-25 06:53] albay13 opened #3 "No close and hide functions."
This is a good plugin, However, there is no close and toggle hide functionality.

[2019-09-25 12:59] MatheusrdSantos commented on #3
Hy, @albay13! Thanks for your feedback.
I didn't implement this functionality yet because I'd like to let the component behave either with or without a toggle button. However, in a future implementation I will create a new component with this feature, e.g. '<ToggleChat>'.

[2019-09-25 14:53] Arnaldoeloi commented on #3
I agree.

[2019-10-07 23:53] Tofandel commented on #3
That's not the point, the point is there is a button but no prop/event for the close button (at least documented)

[2019-10-08 00:36] MatheusrdSantos commented on #3
Hi, @Tofandel! That is really a problem. Thanks for your feedback.
I forgot to implement a way of passing an event to the closing button (that one with an 'X'). However, I will fix this problem as you suggest:
- Changing the slot to scoped
- Adding an event prop for the button
About the problem with feather lib, I dont know yet if it's really necessary remove it, because in future implementations

[2019-10-08 01:13] Tofandel commented on #3
I already did https://github.com/MatheusrdSantos/vue-quick-chat/pull/4 ;)
You can have a look at the test index.html I edited it

[2019-10-08 13:18] MatheusrdSantos commented on #3
I accepted your pull request.
I guess the problem was solved, so I will close this issue.
@Tofandel, Thanks again!

[2019-10-08 13:18] #3 closed

[2019-10-09 13:55] michastubi opened #6 "Problems with Vuex Timetravel because of MomentJs"
I had some problems in my App when i tried to use Vuex Timetravel. The Problems are the Moment objects in the Vuex Store.
I have solved it by saving the ISO 8601 String of the timestamp in the Vuex Store instead of the Moment object.
Then I also added a getter method which converts the String to a moment Object.
The changes  for this are quite simple:
Here are the new mutatiuons:

[code]
and here

[2019-10-09 20:10] MatheusrdSantos commented on #6
Hi, @michastubi! Thanks, for report this issue!
Great article you shared, really usefull.
I will follow your suggestion and solve this problem in the next few days.
However, if your prefer, feels free to fork this project and implement the solution.
Greetings :)

[2019-10-13 15:56] MatheusrdSantos commented on #6
Hi, @michastubi.
The problem was solved in this pull request #7. So I'll close this issue.
Thanks again!

[2019-10-13 15:56] #6 closed

[2019-10-22 12:55] bontibon opened #8 "Incorrect rendering in Firefox"
Firefox: 69.0.2
vue-quick-chat: 1.0.1

Screenshot:
![image](https://user-images.githubusercontent.com/110883/67287637-1756fe80-f4a1-11e9-8530-48a004735403.png)

The component is rendered correctly if I toggle off the `height: 100%` style from `.message-text > p[data-v-0e9711a6]`:
![image](https://user-images.githubusercontent.com/110883/67287773-4ec5ab00-f4a1-11e9-85bb-7ac468b162c6.png)

[2019-10-22 21:26] MatheusrdSantos commented on #8
Hi, @bontibon! Thanks for your feedback.
I'll solve this issue in the next few days.

[2019-10-30 03:39] mallochine opened #9 "README incorrect docs the starting data block"
What a shame this took me an hour to debug. My software skills are not what they used to be.

You have 'messagesDisplay' in the wrong code block

INCORRECT
[code]

CORRECT
[code]

[2019-10-30 03:39] mallochine commented on #9
I am too lazy to submit pull request. I apologize. Back to work for me.

[2019-10-30 11:39] MatheusrdSantos commented on #8
Hi, @bontibon.
I fixed this issue here #10, so I'll close it.
Thanks again.

[2019-10-30 11:40] #8 closed

[2019-10-30 11:43] MatheusrdSantos commented on #9
Hi, @mallochine.
I fixed this issue here #10, so I'll close it.
Thanks for reporting this issue.

[2019-10-30 11:43] #9 closed

[2019-11-07 18:17] martinandersen3d opened #14 "Text color"
I've tried to change the text color. But I think this one is overriding the text color?

https://github.com/MatheusrdSantos/vue-quick-chat/blob/e6009932e30693fa6c9815090d423de1cb1c92ca/src/components/MessageDisplay.vue#L139

Here is my colors:

[code]

text colors, should be: other=black, and myself=white

![s](https://user-images.githubusercontent.com/19984581/68416150-2a054f00-0194-11ea-9fe4-db5

[2019-11-07 19:33] MatheusrdSantos commented on #14
Hi, @martinandersen3d!
Thanks, for your report. I really forgot to implement that functionality.
However, @Tofandel solved this issue here: 5b0312873dae261da402b4c60eb7fe560946e5e2
Now you just have to update the npm package to version 1.0.3

[2019-11-07 19:33] #14 closed

[2019-11-13 14:19] jeanfre777 opened #15 "Unknown custom element: <v-icon> - did you register the component correctly"
I get this message after installing via npm, and trying the example code you provide.

Unknown custom element: <v-icon> - did you register the component correctly

Thanks

[2019-11-13 21:12] MatheusrdSantos commented on #15
Hi, @jeanfre777!
Could you post here the exact steps to reproduce the error?
I'll try to reproduce and solve the error in the next few days.
Thanks for reporting the error.

[2019-11-13 23:00] jeanfre777 commented on #15
Hi,
I installed this package with NPM (npm install vue-quick-chat --save) in one of my existing Vue projects.  I tried to use the component in one of my views, and I got the error.  I did not tried anything else.  Thank you !

[2019-11-15 16:51] martinandersen3d opened #16 "Feature: Send Image/Attachments... Custom slots?"
In your project I have to send pictures in the chat. I do not want to create a fork, but rather improve this project.

Thought it would probably be best to discuss how it can be implemented here first.

My first thought is that we can have two custom slots. One for pictures and one for attachments.

--------------------------
Suggested solution:

step 1 - Register the input:
![image](https://user-

[2019-11-15 18:00] MatheusrdSantos commented on #16
Hi, @martinandersen3d
It's in my plans to implement such functionallities. However I'm quite busy, so I can't implement it yet (my plans are implement new functionalities in the end of this month).
In my opnion, your suggestions are good and I'll follow it.

About step 3, I gess you can have two cases (two slot types):
- images (the chat displays a preview of the uploaded or received image)
- othe

[2019-11-15 18:42] martinandersen3d commented on #16
I completely agree with you.

If we implementing the _messageType_  a fourth option could be "html". Then it is very very customizable.

My client is also talking about video chat in the future. Having the ability to insert raw html, would make it possible to do any custom styling and flexibility. Good for any features, that the client will come up with :D

So to add to your comment:

- messageTyp

[2019-11-15 18:53] martinandersen3d commented on #16
:on-image-upload
:on-file-upload

[2019-11-15 23:03] MatheusrdSantos commented on #15
I tried to reproduce the error in a new project on my computer but without success.
I guess the problem is happening because v-icon was moved to dev dependencies. So I don't know whether the problem is happening only with you (because of a specific problem) or it is a general problem.
The second case can be easily solved by me adding v-icon to project dependencies.

[2019-11-15 23:08] MatheusrdSantos commented on #15
In case you still facing this problem I can try to reproduce the error in another machine.
So, if I found it, I'll add 'v-icon' to project dependencies.

Thanks again.

[2019-11-16 17:05] martinandersen3d opened #17 "[Bug? + possible solution] IOS Safari"
This bug is only on IOS (i used Apples Xcode iphone simulator, i believe the browser version is safari 12.1).
This is not a bug in Chrome, Firefix, Opera, Edge.
I'm not sure if this is a bug. But I'll report anyway.
--------------------------------------
Trying to fit the chat on mobile.

When there is MORE than 10 ish messages on the phone, then the "message-text-box", is longer down and outside

[2019-11-16 17:10] #15 closed

[2019-11-16 17:21] MatheusrdSantos commented on #17
Hi, @martinandersen3d
I'll implement your solution. However, I can't give a complete safari support because I don't have any machine with IOS for test.
Thanks for reporting this issue and proposing a solution.

[2019-11-16 18:21] martinandersen3d opened #18 "[Bug] IOS - Keyboard "Done/Submit" button"
IOS only.
Works fine in Safari, Chrome etc.
----
I'm not going to use so much time on this one...

Description:
- Clicking **Done** does nothing.
- Clicking the **Red Triangle** works.

Possible solutions:
[code]

Anyway, its a smaller thing, now documented :-)

![iOGYK3y4wY](https://user-images.githubusercontent.com/19984581/68997254-9ecb3e00-08a4-11ea-95dd-c1297ec18ff6.gif)

[2019-11-16 19:40] MatheusrdSantos commented on #17
I have implemented your solution (0c73a260dacba990409a1d2c918f531b5744e2d3) and it works pretty fine.
As a workaround, I'm using the Midori browser to test safari 10 issues because it uses the WebKit rendering engine (the same as safari).

So I guess this issue was solved.
Thanks!

[2019-11-16 19:40] #17 closed

[2019-11-16 19:49] MatheusrdSantos commented on #18
Maybe this problem is happening because I'm using a div with `contenteditable="true"` as input text. So the keyboard doesn't detect any input field to submit the text.

I'll solve this issue in the next few days.
Thanks for reporting this error.

[2019-11-16 23:12] martinandersen3d commented on #18
OK, I did try some different combinations here. Whatever I try it always says "Done".
Its a "bug" on apples side, **and not something we can change.**

Good answer from stackoverflow:

https://stackoverflow.com/questions/19939487/ios-keyboard-without-prev-next-done-button-for-html-input-field

![image](https://user-images.githubusercontent.com/19984581/69000341-4f9a0300-08ce-11ea-9b72-af7f5361cd1d

[2019-11-17 01:18] MatheusrdSantos commented on #18
Great! So this is the default IOS behavior.

[2019-11-17 01:18] #18 closed

[2019-11-20 10:59] Tofandel commented on #16
@martinandersen3d Raw html would make it susceptible to XSS attacks, sure it's up to the server/dev to prevent this, but I'd rather not have accidental vulnerabilities

I would also only add an option :on-file-upload type "function" if it's defined then display the attachment button (which should be slotted as all other icons)

And another option for file types accepted, :file-types which could be

[2019-11-20 14:22] martinandersen3d commented on #16
Sounds good.

I do also agree on the raw html.

**Links:**
I think if we make it possible to send links in the chat, then I would be able to forward any "video" chat features, via a link to another router in the application.

Maybe we could add it like:
messageType ('image', 'file', 'text')
contentUrl (if the message type is 'file' or 'image') and maybe
contentSize (the file/image size in kb/mb)
L

[2019-11-20 22:44] Tofandel commented on #16
Links is another story. That would be a valid use case for using v-html however the message should be entirely html escaped first

Then it could be parsed with a regex and if you find a link add an <a> tag for the link

When can also give control to users who knows what they are doing to v-html via the message type 'html'

[2019-11-21 23:50] martinandersen3d commented on #16
I just came to mind that vue has what is called a **dynamic component**. Vue has an "is" tag that it can convert to an HTML element.

Here is the Vue code (html element type is defined in the **"IS="**):
[code]

It will be converted to HTML:
[code]
Vue does not allow "script" inside the tag, so safety is good.

I think this would be a good, secure and flexible solution.

You can see examples, and

[2019-11-22 06:52] Tofandel commented on #16
This will not be helpful, Vue is not interpolated in v-html, and it's anyway the same as writtng an a tag, this feature is only useful when you need to change the vue component displayed based on some logic

[2019-11-22 06:57] Tofandel commented on #16
I know how to display links without v-html

Instead of escaping it, just explode the text based on regex, parts that match url can be rendered inside an a, the rest in moustache

[2019-11-22 12:42] martinandersen3d commented on #16
I think we misunderstand each other :D

I 100% agree that we can/should use a regex to make links, based on text that the user writes. That's not what I'm trying to explain :D : D

What I'm trying to do is:
To create a solution that allows the external programmer to use the component to create the html messages to suit their needs. So make it as flexible as possible and still maintain the security

[2019-11-22 12:51] Tofandel commented on #16
Okay I see what you're saying but this poses the problem I mentioned about the server having power over the tags used when this power should be left to vue alone via scoped slots, in the scoped slot you can check the message type and display absolutely any component you want rather than a runtime tag, so it's also more flexible

[2019-11-22 13:56] martinandersen3d commented on #16
I actually understand what you are trying to do now :D

I like it, its genius :D

So from the messageType, contentUrl, contentSize, external developers can create an unlimited numbers of different slots, where we can loop through and have different components with different properties. Thats really nice :D

[2019-11-25 10:50] Tofandel commented on #16
Yes basically but not just those properties, since the entire message will be passed as a parameter to the scoped slot, you can use any property you want like this
[code]

[2019-11-25 11:10] Tofandel commented on #16
If it's urgent, you can do a PR and I'll review it, else I can do it later this week

I would change the name of the component MessageDisplay to MessagesList for clarity and add a component MessageInner (or MessageDisplay) which will only contain the display markup
(It's this part)
[code]

[2019-11-28 12:47] Qanah opened #19 "feather v-icon has a conflict with vuetifyjs v-icon"
First I need to thank you for this component it's very useful, Please change the feather v-icon name in `vue-quick-chat/src/index.js` line 4 because thair is a conflict with vuetifyjs

[2019-11-28 12:58] MatheusrdSantos commented on #19
Hi, @Qanah! Thanks for your feedback.
I'll change the name as soon as possible.

[2019-11-28 16:53] MatheusrdSantos commented on #19
Solved here d6844015b4e38e4cc07143057f2d421805efb83a

[2019-11-28 16:53] #19 closed

[2019-12-07 06:36] remotejob opened #21 "[question/propocal] Delete previous messages"
How delete all previous messages? All or probably better for particular participant.
I need on click event clean pallet and change participants.
Change participants looks like not complicated. But how delete previous messages :( ?

[2019-12-07 07:00] remotejob commented on #21
OK looks like this.messages.pop(0) can do it :) Good!

[2019-12-07 07:00] #21 closed

[2019-12-11 04:36] Tehsseen opened #22 "send image in chat"
i am using your template it awsome but sir can i use image in chat kinldy guide how to achieve this. thanks
regards
Tahseen ullah

[2019-12-11 07:35] Tehsseen commented on #16
hi guys is anyone have the updated version with image upload feature. thanks

[2019-12-11 15:58] MatheusrdSantos commented on #22
Hi, @Tehsseen! This functionality wasn't implemented yet.
I have plans to implement it at the end of this month or even next month.

Thanks for your feedback!

[2019-12-16 03:40] remotejob opened #24 "[proposal:question]"
How make chat-scroll work something like:

 https://github.com/theomessin/vue-chat-scroll do ?

[2019-12-16 03:49] MatheusrdSantos commented on #24
You can set a fixed height or even a  max-height to the parent element that contains the chat. So it will have the same size as the parent component and, if it gets greater, the chat content will scroll.

[2019-12-16 03:55] MatheusrdSantos commented on #24
You can have some DOM structure like that:
[code]
and have the following style:
[code]

[2019-12-16 04:08] remotejob commented on #24
In my case it don't work, it don't make auto scroll to last message :(

[2019-12-16 13:43] MatheusrdSantos commented on #24
Now I understand your problem. You want to scroll until the last message (the most recent) after sending or receive a new message.

[2019-12-16 13:48] MatheusrdSantos commented on #24
That's strange behavior, maybe a bug. I guess it was implemented already.
I'll fix this bug in the next few hours and release a new version with the option to set the chat behavior through props.

[2019-12-17 02:57] MatheusrdSantos commented on #24
Fixed here b4648d6da39f57f0ed67d39f07aa45b4184b9f74. Now you can set the chat behavior by just adding the following property:
[code]
[code]
You just have to update the chat component to version 1.0.8

[2019-12-17 03:53] remotejob commented on #24
Hmm.. It's not what I am need.

check https://vue-chat-app-d4b9e.firebaseapp.com/

source https://www.djamware.com/post/5d63586ee8e5fff670f31169/vuejs-tutorial-building-firebase-realtime-chat-web-app

input position always fixed.
Chat part auto scroll to latest message.

[2019-12-24 11:21] Tehsseen commented on #22
ok  thank you @MatheusrdSantos   will wait for it.

[2020-01-06 07:14] gabrieljbaker commented on #16
Curious about this image upload feature as well!

[2020-01-06 20:03] martinandersen3d commented on #16
Anybody working on this? Else I will look into it, this month.. Anybody want to join? :-)

[2020-01-06 20:11] MatheusrdSantos commented on #16
@martinandersen3d
I guess nobody is working on this feature. But I'll implement a way of display images on chat, as I said here #22.

[2020-01-06 20:15] martinandersen3d opened #25 "Proposal: Replace moment.js with date-fns or Luxon.js"
This thread purpose, is to discuss if it should be done.

Why? -> Bundle size, thats why :-)

When looking at the package size of moment.js, its "medium-huge"...
https://bundlephobia.com/result?p=moment@2.24.0

Luxon is supposed to replace moment.js, with better webpack support (include what you need). Also made by the team of moment. They created Luxon, because it support new techologies, and the

[2020-01-06 20:20] martinandersen3d commented on #16
Thanks ;-)

[2020-01-06 23:12] MatheusrdSantos commented on #25
The bundle size is a problem. I don't know if the unique reason is moment.js, and I do not have much experience at reducing bundle size of packages. However, if the bundle size can be reduced just changing from moment.js to Luxon, there's no problem in my point of view.

Luxon has a guide for moment users https://moment.github.io/luxon/docs/manual/moment.html.

Maybe we could also discuss here oth

[2020-01-07 12:02] martinandersen3d commented on #25
Also.. in MatheusrdSantos/vue-quick-chat/package.json, everything in _**Core-js**_ is included.

https://bundlephobia.com/result?p=core-js@3.6.2

We can choose to include only the things that we need. Example from Core-js docs:
![image](https://user-images.githubusercontent.com/19984581/71894215-ef953f80-314d-11ea-82ea-d94a925bc24a.png)

https://github.com/zloirock/core-js

[2020-01-07 12:19] martinandersen3d commented on #25
The send icon:

**Replace: vue-icon**
https://bundlephobia.com/result?p=vue-icon@2.1.1

**With this:**
We can include only ONE icon here:
![image](https://user-images.githubusercontent.com/19984581/71894859-b8c02900-314f-11ea-8c28-b93e4fd42861.png)

--------------------

This is just a Proposal, to optimize _bundlesize_. Hehe.. I dont know if it is nice or worse :D

[2020-01-07 12:24] martinandersen3d commented on #25
Icon alternative:
https://codepen.io/martinandersen3d/pen/vYEdERg

just include the icon as raw html.. its 300 bytes :D

[2020-01-07 23:30] MatheusrdSantos commented on #25
Thanks, @martinandersen3d. I will apply these changes as soon as possible.

[2020-01-08 07:48] iseesaw commented on #24
you can set the height，and then it will work
[code]

[2020-01-08 08:23] iseesaw opened #26 "delete the header"
I don't want to have the header, how can I delete it?
Thank you.

[2020-01-09 01:27] remotejob commented on #24
I decide use https://www.npmjs.com/package/vue-scrollto
and  as base  https://www.djamware.com/post/5d63586ee8e5fff670f31169/vuejs-tutorial-building-firebase-realtime-chat-web-app

in my case it more flexible solution. So you can close issue.
Thanks.

[2020-01-09 23:21] MatheusrdSantos commented on #26
There's no way to remove the header. However, it's an easy feature to implement, so I'll release it tomorrow.

[2020-01-10 01:47] iseesaw commented on #26
Thank you for your reply.
I implements it by setting the height of the header zero.

[2020-01-10 01:47] #26 closed

[2020-01-10 01:54] #24 closed

[2020-01-10 02:10] MatheusrdSantos commented on #26
@iseesaw this functionality is available now #27

[2020-01-10 02:12] iseesaw commented on #26
Ok，thank you very much！

[2020-01-13 23:36] MatheusrdSantos commented on #25
Today I changed the icon package from vue-icon to vue-material-design-icons (the same suggested before), and I got a small improvement on the bundle size.
Initial size
![image](https://user-images.githubusercontent.com/42742621/72300990-2be00880-3644-11ea-8da0-62fe4d80d51e.png)
after changes
![image](https://user-images.githubusercontent.com/42742621/72300997-35697080-3644-11ea-914d-c4558340c970.p

[2020-01-13 23:40] martinandersen3d commented on #25
The icon is the smallest of the changes I guess.

Try checkout this extension for vscode

https://marketplace.visualstudio.com/items?itemName=wix.vscode-import-cost

[2020-01-13 23:41] MatheusrdSantos commented on #25
The bundle size still large. I guess the problem is with some js lib since the dist/vue-quick-chat.commom.js has 709.27 KiB, and the recommended limit size is 244 KiB.

The next change I'll apply is migrating from moment.js to Luxon.js

[2020-01-13 23:42] martinandersen3d commented on #25
I have not tried this yet, but looks usefull

https://www.npmjs.com/package/webpack-bundle-analyzer

[2020-01-13 23:48] MatheusrdSantos commented on #25
Thanks, I'll use these tools.

[2020-01-15 01:16] MatheusrdSantos commented on #25
Hi, @martinandersen3d.
Today I migrated from momentjs to Luxonjs, and I got a significant improvement in the bundle size.
![image](https://user-images.githubusercontent.com/42742621/72396332-1d185500-371b-11ea-903f-2fbc17541f97.png)
However, it still warning about the bundle size. I'll try to fix core-js.

[2020-01-24 16:13] martinandersen3d commented on #25
**on "Dev branch":**

![2020-01-24 17_04_58-StrokesPlus](https://user-images.githubusercontent.com/19984581/73083603-c73a6e80-3ecb-11ea-923b-1bb069bc1a76.png)

![image](https://user-images.githubusercontent.com/19984581/73083754-0668bf80-3ecc-11ea-96dc-e7649d349abd.png)

I fumbled a little to get it to work.. but it was something like this:

Cmd (run as admin)

npm install -g @vue/cli

npm i webpa

[2020-03-09 20:03] martinandersen3d commented on #22
Hi @MatheusrdSantos What is the status? :-) Going to a customer meeting this week :D

Can I help in any way?

[2020-03-10 02:20] MatheusrdSantos commented on #22
Hi, @martinandersen3d!
I haven't started development yet.
These are some insights that I have about this functionality, just in case you want to implement it:
- set a new message property: ```'type': 'image'```;
- this message type requires an URL to display the image;
- the chat is responsible for selecting the image from the computer and executes a callback (new prop to the component) called 'on

[2020-03-13 22:47] MatheusrdSantos commented on #22
I'm currently implementing this functionality. If you want to follow the progress, you can check out this branch [send-images](https://github.com/MatheusrdSantos/vue-quick-chat/tree/send-images)

[2020-03-13 23:12] martinandersen3d commented on #22
niiiice :-) Looking forward to it ;-)

I really like the 'api' you have planned :-)

![giphy](https://user-images.githubusercontent.com/19984581/76665478-48d38200-6588-11ea-976b-b34fc9f4b8c8.gif)

[2020-03-18 00:39] vonec commented on #22
since you are doing something related to images, can you add support to have an optional avatar / profile images for participants

[code]

[2020-03-19 00:28] MatheusrdSantos commented on #22
Hi, @vonec!
Yes, that's a good idea. I'll first release the images upload and then start the implementation of avatar images.

Thanks for your suggestion.

[2020-03-20 01:28] MatheusrdSantos commented on #22
This functionality is available now.
Just update to version 1.1.0

[2020-03-20 02:35] vonec commented on #22
thanks a lot, @MatheusrdSantos,  while you are at it, can you add support to read reciepts, similar to how have support to uploaded message single tick. now double tick

[2020-03-20 11:41] MatheusrdSantos commented on #22
Hi, @vonec. Are you talking about to display visual feedback when the message is viewed like in a Whatsapp chat?

[2020-03-20 12:35] vonec commented on #22
Yup exactly

[2020-03-28 20:58] MatheusrdSantos commented on #22
Hi, @vonec. Now you can display profile pictures and display visual feedback when the image is viewed.
Just update to version 1.1.1 and read the documentation.

[2020-03-30 21:56] #22 closed

[2020-04-10 22:32] ahmedabdel3al opened #30 "on close props is function"
onClose props is function so if i need to pass param to this function this method
will fire when component mounted so the chat will be close again
so i suggesting to be event
and we catch this event outside component

current  ` :on-close="onClose(pram)"`
suggest `@onClose="onClose(param)"`

[2020-04-12 16:18] MatheusrdSantos commented on #30
Hi, @ahmedabdel3al. I'll fix it as soon as possible.

[2020-04-19 17:08] MatheusrdSantos commented on #30
Hi, @ahmedabdel3al. It's now solved. Just update to version 1.2.0.

[2020-04-19 17:08] #30 closed

[2020-05-02 07:20] gamgam-jap opened #32 "[Vue warn]: Error in callback for watcher "messages": "TypeError: Cannot read property 'zone' of null""
When I send messages, following console error displayed;
[Vue warn]: Error in callback for watcher "messages": "TypeError: Cannot read property 'zone' of null"

What is this?

[2020-05-02 09:07] #32 closed

[2020-05-21 15:36] zayda3 opened #33 "Add message date"
Hello,

Currently it is possible to see the time when the message was sent, instead the sending date cannot be displayed.
I think it is, in case it is not currently possible, an interesting improvement.

Thank you.

[2020-05-21 15:43] zayda3 opened #34 "Real time chat"
Hello,

Is it possible to make this chat in real time by updating _"toLoad"_?

Thank you.

[2020-05-24 09:28] vonec commented on #33
+1 instead of just displaying time alone ( which might be confusing with similar time from previous dates) we can use time ago or human-readable format :)

[2020-05-25 09:20] vonec commented on #33
# vue-quick-chat
This vue component is a simple chat that can be easily imported and used in your project.

## Features
- Custom style
- Handle on type event and on message submit
- Chat with multiple participants
- Support for async actions like message uploaded status
- Send images (released at version 1.1.0)
- Support for profile pictures (released at version 1.1.1)
<img src="./src/assets/vue-q

[2020-05-25 09:30] vonec commented on #33
https://github.com/MatheusrdSantos/vue-quick-chat/pull/35 please check

[2020-05-25 12:37] #34 closed

[2020-05-25 14:03] MatheusrdSantos commented on #33
Hi, @vonec. I'll check your PR as soon as possible.

[2020-05-25 14:06] MatheusrdSantos commented on #33
Thanks for your suggestion, @zayda3. I'll improve the way dates are displayed.

[2020-05-25 19:02] vonec commented on #33
@MatheusrdSantos looking forward to it :)

[2020-05-29 09:35] vonec commented on #33
any updates ? waiting for that feature

[2020-05-30 20:36] MatheusrdSantos commented on #33
@vonec, I left a comment on your PR #35. You forgot to declare the prop 'timestampConfig' in some components.

[2020-05-31 21:57] MatheusrdSantos commented on #33
I guess this issue is solved here #35.
Thanks, @vonec, and @zayda3!

[2020-05-31 21:57] #33 closed

[2020-07-15 01:22] smileypop opened #36 "Feature: Include href links inside text messages"
Can you add support for auto parsing of links included inside text messages? Something like this:

[2020-07-16 00:22] MatheusrdSantos commented on #36
Hi, @smileypop!
That's a good idea. I'll implement it as soon as possible.

Thanks

[2020-07-22 21:41] martinandersen3d opened #37 "[new Feature] Image upload -> customize file types :-)"
It would be nice to be able to customize what files types, the user can upload.
Since the server maybe only support jpg/png or something else :D

## Docs:
https://www.w3schools.com/tags/att_input_accept.asp

## Code:
https://github.com/MatheusrdSantos/vue-quick-chat/blob/8b9e21878b140c0312cfd3357da4b6b9176afeca/src/components/MessageManager.vue#L12

## All the file formats that the browser (chrome

[2020-07-26 18:05] MatheusrdSantos commented on #36
Implemented here 0265b64cdf7d647277a88f83d0736ebcbd47843b. I'll release it soon.

[2020-07-26 19:43] MatheusrdSantos commented on #36
Just update to version 1.2.3 and check the docs. I added the linkOptions prop to configure the links inside of the messages.

Thanks, for your suggestion.

[2020-07-26 19:43] #36 closed

[2020-07-26 20:28] MatheusrdSantos commented on #37
Hi, @martinandersen3d!
This feature is part of a greater implementation. To accept other files format we need a way to display the file.
I'll implement a way to choose which image types are allowed. But this approach may change when implementing file upload support.

Thanks again

[2020-07-29 07:37] yusanshi opened #38 "Error while building in a Vue project"
My `package.json` is as follows.
[code]

With `npm install`, I have `1.2.3` installed. However, when running `npm run build`, error occurred.'
[code]

I modify my `package.json` so that the version of `vue-quick-chat` is locked to `1.2.0`, then it can build successfully.

[code]

[2020-07-31 02:59] smileypop commented on #38
I have the same problem as mentioned above. Is this related to the core-js version? I am getting the following warning. `npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.`

[2020-07-31 03:00] smileypop commented on #36
@MatheusrdSantos thank you!

[2020-08-01 15:43] MatheusrdSantos commented on #38
Hi, @yusanshi! I ran the wrong command to publish the lib. Now it's working, just update to 1.2.4. Sorry for the inconvenience, my mistake.

Thanks for your help.

[2020-08-01 15:44] MatheusrdSantos commented on #38
@smileypop, update to 1.2.4, I guess your problem will be solved.

[2020-08-01 16:11] yusanshi commented on #38
Thanks!

[2020-08-01 16:11] #38 closed

[2020-08-01 18:31] MatheusrdSantos commented on #37
@martinandersen3d, now you can set the accept attribute. Update to version 1.2.5 and read the docs about acceptImageTypes.

[2020-08-01 18:31] #37 closed

[2020-08-03 09:14] smileypop commented on #38
@MatheusrdSantos thank you for the quick fix. The install is working now, but I still receive the warning related to core-js. It might be worth updating inside the package, but that is an unrelated issue to this one.

[2020-08-11 04:35] AbingLeopoldo opened #39 "header participants text. and maximum height."
Thanks for the greate project,. Is their an option to maximize the hight of messages display (in "quick-chat-container" class),? and to hide the participants header text (in "header-paticipants-text" class)?.

[2020-08-16 16:54] MatheusrdSantos commented on #39
Hi, @AbingLeopoldo!
About your first question, what do you mean by 'maximize the height of message display'?
The message display is already configured to grows according to its parent's height. So, if you need to make it grows, just change the height of the chat parent.
About you second question, you can change the behavior of the header using slots (check this section [usage](https://github.com/M

[2020-08-18 00:34] #39 closed

[2020-08-26 06:15] alberto-perdiguero opened #40 "Internal error in Internet Explorer 11"
The component crash in IE11.

[2020-08-28 08:10] alberto-perdiguero commented on #40
Solved, you only have to add it:

 module.exports = {
  transpileDependencies: ['vue-quick-chat'],
}

In the Vue.config.js

[2020-08-28 08:10] #40 closed

[2020-09-10 07:44] savayer opened #42 "A message adds after cliking on enter even if its empty"
I tried
[code]

but empty message still adds
it seems newMessage mutation should have some condition

can you fix it? Or is there a way how can i avoid it?

[2020-09-12 02:07] MatheusrdSantos commented on #42
Hi, @savayer. I'll fix it tomorrow. Probably I forgot to check the message content.

[2020-09-12 14:50] MatheusrdSantos commented on #42
Hi, @savayer. It's fixed now 962b2d146faba6cdfdefc205724c9d01ed05e621. Just update to version 1.2.6.
Thanks for your report :)

[2020-09-12 14:50] #42 closed

[2020-09-13 03:31] savayer commented on #42
Great, thanks!

[2020-09-19 08:01] bekee opened #43 "Typing"
How can I implement typing effect with the component?

[2020-09-19 09:29] bekee commented on #32
How did you solve it?

[2020-09-20 00:08] MatheusrdSantos commented on #43
Hi, @bekee. Could you explain better what you need?

[2020-09-20 14:52] bekee commented on #43
When a user is typing a  message, I want to use the whisper function in laravel-echo to tell the receiver that the other person. literally I was hoping there could be a slot on the message display area.

[2020-10-01 00:19] MatheusrdSantos commented on #43
Currently, the chat doesn't support this feature yet. But it's a good feature to implement.

I'll implement it when I get some free time.
Fell free to create a PR if you really need this feature quickly.

Thanks, @bekee.

[2020-10-03 21:44] #43 closed

[2020-10-09 06:50] Mnshah219 opened #44 "Proposal: Make scrolling work and keep chatbox fixed irrespective of scroll position"
Hello,
Currently when we use this component the inner scroll does not work, when we scroll, the scrollbar of main windows is the one that is getting scrolled, so it would be nice if innerscroll could made to work or remove it from ui altogether, also scrollBottom:{messageSent:true} only makes sense if we could type in message irrespective of scroll position

![Capture](https://user-images.githubus

[2020-10-27 21:00] temirlankasen opened #45 "ZONE error on push message"
Hi, please help if you can
I got the message object from onMessageSubmit.
When I push a message in messages, I catch an error with ZONE

![image](https://user-images.githubusercontent.com/48218803/97361216-6e1fc100-18c9-11eb-9a47-0007a5202145.png)
![image](https://user-images.githubusercontent.com/48218803/97361306-87c10880-18c9-11eb-9ad9-36e64b8bc060.png)
what am I doing wrong?

[2020-10-27 21:16] #45 closed

[2020-10-30 14:22] jhonveramendi commented on #44
Hi,
<div style="height: 500px;" class="w-full">
                    <Chat :participants="particip...
 </div>
I solved it like this...

it's a shame not to have answered you before

[2020-10-30 14:23] jhonveramendi commented on #44
<div style="height: 500px;" class="w-full">
                    <Chat :participants="particip...
</div>
it's a shame not to have answered you before

[2020-10-31 00:27] MatheusrdSantos commented on #44
Hi, @Mnshah219! Sorry for my late response. I didn't get notified by GitHub. To enable the inner scroll you should set a max-width to the chat parent element.

[2020-11-03 12:12] #44 closed

[2020-12-24 06:14] WemersonPD opened #46 "Hi, my quick chat not working in production, do you have some awnser about this?"

[2020-12-25 05:22] antirek opened #47 "Quote message"
Answer to specified message. For example, button with arrow on side of message text. After click append quoted message before answer message.

[2020-12-26 22:04] MatheusrdSantos commented on #46
Hi, @WemersonPD! It's not clear the reason the chat isn't working. Could you provide more info?

[2020-12-26 22:06] MatheusrdSantos commented on #47
Hi, @antirek! That's a nice feature to implement. I'll implement it as soon as possible.

[2020-12-28 04:13] bawa93 opened #48 "On Clicking on Send Getting the Error: Cannot read property zone on Null"
I am just using the example provided on the readme page in my nuxtjs project
[code]

[2021-01-07 04:29] vonec commented on #16
+1 .. it would be great if we can have images + files ... i will try to chip in ... been a while ... happy new year @MatheusrdSantos

[2021-01-07 04:50] vonec commented on #47
shouldn't this be a reference to the old message rather than duplicating/appending existing text?

[2021-01-07 06:37] vonec commented on #16
if the html part is only about video embeds we can support oembed / graph data much like facebook and twitter but i thinks its a long way to go

[2021-01-07 22:13] vonec commented on #47
@MatheusrdSantos are you still accepting PRs?

[2021-01-08 00:49] MatheusrdSantos commented on #47
Hi, @vonec ! I still accepting PRs.

You are right, It's better to be just a reference to a previous message. But I guess we need to show part o the message the is being referenced.

[2021-01-08 03:20] vonec commented on #16
:send-images="true" is enabling the image attatchment but

client.js:97 Error: Cannot linkify undefined - Invalid DOM Node type
    at linkifyElementHelper (vue-quick-chat.common.js:679)
    at linkifyElement (vue-quick-chat.common.js:742)
    at VueComponent.mounted (vue-quick-chat.common.js:16295)

when we try to attatch an image ... am i missing something

[2021-01-10 20:33] #46 closed

[2021-01-16 09:34] vonec commented on #48
this happens when the message.timestamp is  null, this happens only when you attach an image. im debugging this behavior @MatheusrdSantos  can we touch base on this im about to send a PR with few changes

[2021-01-16 13:53] MatheusrdSantos commented on #48
@vonec, yes. Today I'll take some time to fix some issues.

[2021-01-16 18:24] MatheusrdSantos commented on #48
Fixed on version 1.2.7.
Thank you, @vonec!

[2021-01-16 18:24] #48 closed

[2021-01-16 22:01] vonec commented on #48
i will be sending another PR in a while which would enable file attachments please hang around

[2021-01-18 21:16] sgarringer opened #50 "Pushing messages causes the timestamp on all previous messages to be set to the current time"
I'm having trouble using this to build a chat app.

Steps to reproduce:

Add a single message to this.messages

Create a second message, and call this.messages.push(secondmessage)

The timestamp on the previous message will be sent to the current time.

Rolling back to 1.2.6 resolved issue.  It seems to be related to commit 18f60fbced885919da937747ca118aa2b25fd077

[2021-01-19 12:27] MatheusrdSantos commented on #50
Hi, @sgarringer. It was my mistake on this commit 18f60fb. I already know how to solve it. I'll release a new version today.

Thank you!

[2021-02-06 16:27] MatheusrdSantos commented on #50
Fixed on version 1.2.8.

Thanks again!

[2021-02-06 16:27] #50 closed

[2021-02-06 19:14] vonec commented on #16
https://github.com/MatheusrdSantos/vue-quick-chat/pull/51 waiting for it get merged hope that would solve a small problem

[2021-03-04 22:11] mahbubahmed opened #52 "slot to customize the layout of the message content"
Is there any way to customize the layout of the message content, perhaps using a slot like the header's?

        <template v-slot:header>
          <div>
            <p v-for="(participant, index) in participants" :key="index" class="custom-title">{{participant.name}}</p>
          </div>
        </template>

[2021-03-04 22:19] mahbubahmed opened #53 "Getting the scrollbar appear at the bottom initially"
Currently when the component loads for the first time the scrollbar shows up at the very top by default instead of at the bottom
to display the latest message.

Is there any way to make the scrollbar appear at the bottom position?

[2021-10-11 16:00] apodakaaa opened #55 "timestampConfig change locale"
Hello,

I want to setLocale to "tr" but not able to do that. I searched on the google but could not found any solution.

Thanks,
Abullah.

[2022-05-09 09:27] amirensit opened #56 "Error running this example on Vuejs3"
Hello.

I would like to know if this example works with vuejs3 or not ?

For instance, I have trouble running it.